<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/loginRegister.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <title>chat app</title>
</head>
<body>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='javascript/base.js') }}"></script>
    {% for msg in messages %}
        <script>
            createMessage("{{msg.profileName}}", "{{msg.message}}")
        </script>
    {% endfor %}
</body>
</html>