{% extends 'base.html' %}

{% block body %}
    <div class="mini-header">
        <div class="title">
            <h2>Edit Room</h2>
        </div>
    </div>
    <div class="buttons">
        <h3>Hi <span>{{ current_user.username.capitalize() }}</span></h3>
        <div class="profile-setup">
            <label for="name">Profile Name</label>
            <input 
                type="text" id="profileName" 
                placeholder="Set a Profile Name" 
                name="profileName" 
                value="{{ current_user.username }}" readonly>
        </div>
    </div>
    <form method="POST" class="buttons">
        <br><br><br>
        <label for="">Room Information</label>
        <div class="create-room " id="createRoom">
            <input type="text" name="room_name" placeholder="Room Name" id="inputRoomName" value="{{ room.name }}">
            <input type="text" name="members" placeholder="Room Members: e.g james, mike, loren" id="inputRoomMembers" value="{{ room_members_str_format }}">
            <input type="text" name="members" id="inputId" hidden>
            <button 
                type="submit" 
                name="editRoom" id="editRoom" 
                class="btn btn-primary btn-block btn-large">Edit Room
            </button>
        </div>
    </form>
{% endblock %}