.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.join{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.createRoom{
    width: 100%;
}

.message-box{
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}
.messages{
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}
.messages::-webkit-scrollbar{
    display: none;
}
.inputs{
    padding: 10px;
    display: flex;
}
h2, h3{
    text-align: center;
    color: #fff;
}
h3{
    margin: 5px 0;
}
h3 span, h2 span{
    color: #06ea19;
}
.group-title{
    color: #000;
}
.group-title span{
    cursor: pointer;
}
.join-btn{
    width: 30%;
    margin-left: 10px;
    height: 40px;
}
#message{
    flex: 1;
}
.message-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.muted{
    font-size: 10px;
    color: #abaaaa;
}
.mini-header{
    display: flex;
    align-items: center;
}
.options, .group-options{
    margin-left: 250px;
}
.group-options{
    margin-left: 760px;
}
.option-content{
    position: absolute;
    background-color: #abaaaa;
    border-radius: 5px;
    padding: 10px;
}
.option-content ul{
    padding: 0;
}
.option-content li{
    cursor: pointer;
    margin: 8px 0;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}
.option-content ul a{
    text-decoration: none;
    color: red;
}
.option-content li:hover{
    background-color: #fff;
}
.hidden{
    display: none;
}
.sender-green {
    color: green;
}

.sender-red {
    color: red;
}